body {
  background-color: #999;
}
h1 {
  font-size: 20px;
  margin-left: 48%;
}
h2 {
  font-size: 20px;
  margin-left: 35%;
}
a {
  font-size: 15px;
  text-decoration: none;
  color: #444444;
  margin-left: 20px;
}
a:hover {
  color: #e5e5e5;
}
table {
  width: 100%;
  height: 100%;
  border: 1px solid #444444;
  border-collapse: collapse;
}
th,
td {
  text-align: center;
  border: 1px solid #444444;
  padding: 25px;
  font-size: 15px;
}
p {
  font-size: 5px;
  color: red;
}
div {
  font-size: 5px;
}
