body {
  background-color: #999;
}
h1 {
  font-size: 20px;
  margin-left: 45%;
}
a {
  font-size: 10px;
  text-decoration: none;
  color: #444444;
  margin-left: 20px;
}
a:hover {
  color: #e5e5e5;
}
h2 {
  font-size: 20px;
}
p {
  font-size: 10px;
  margin-left: 20px;
}
img {
  width: 400px;
  height: 200px;
}
