body {
  background-color: #999;
}
h1 {
  font-size: 60px;
  margin-top: 20px;
  margin-bottom: 30px;
  margin-left: 45%;
}
a {
  font-size: 32px;
  text-decoration: none;
  color: #444444;
  margin-left: 20px;
}
a:hover {
  color: #e5e5e5;
}
