body {
  background-color: #999;
}
div {
  font-size: 20px;
  margin-left: 45%;
}
img {
  width: 300px;
  height: 180px;
}
h2 {
  font-size: 10px;
}
a {
  font-size: 15px;
  text-decoration: none;
  color: #444444;
}
a:hover {
  color: #e5e5e5;
}
