body {
  background-color: #999;
}
h1 {
  margin-left: 40%;
  font-size: 40px;
}
table {
  width: 100%;
  border-top: 1px solid #444444;
  border-collapse: collapse;
}
th {
  border: 1px solid #444444;
  padding: 20px;
  background-color: rgb(128, 191, 69);
}
td {
  border: 1px solid #444444;
  padding: 20px;
  background-color: hsl(36, 50%, 45%);
  text-align: center;
}
td:hover {
  color: #e5e5e5;
}
a {
  font-size: 18px;
  text-decoration: none;
  color: #444444;
}
a:hover {
  color: #e5e5e5;
}
